
@{
    ViewBag.Title = "AcoesRapidas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content-wrapper">
    <div class="page-content">
        <h3 class="page-title">
            Ações Rápidas
        </h3>
        <hr />
    </div>
</div>
