
@{
    ViewBag.Title = "IndexTeste";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content-wrapper">
    <div class="page-content">
        <h3 class="page-title">
            Inicio | Ações Rapidas
            @*<small>- Ações Rápidas</small>*@
        </h3>
        <hr />
        <div style="display:initial">
            <a href="javascript:;" class="btn btn-lg blue">
                <i class="icon-calendar" style="padding:10px;"></i> Visitas Agendadas
            </a>

            @*<a href="@Html.Action("Index","Home")" class="btn btn-lg blue">*@
            <a href="javascript:;" class="btn btn-lg blue">
                <i class="icon-note" style="padding:10px;"></i> Cadastro de Vendas
            </a>

            <a href="javascript:;" class="btn btn-lg blue">
                <i class="icon-lg icon-graph" style="padding:10px;"></i> Meu Dashboard
            </a>
        </div>

        <div style="display:none">
            <a href="javascript:;" class="btn btn-lg blue" style="margin:10px">
                <i class="icon-calendar"></i> <br /> Visitas Agendadas
            </a>

            <a href="javascript:;" class="btn btn-lg blue" style="margin:10px">
                <i class="icon-note"></i> <br /> Cadastro de Vendas
            </a>

            <a href="javascript:;" class="btn btn-lg blue" style="margin:10px">
                <i class="icon-graph icon-lg"></i> <br /> Meu Dashboard
            </a>
        </div>
    </div>
</div>



