<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<meta name="viewport" content="width=device-width, initial-scale=1">*@

    <title>@ViewBag.Title - Area do Cliente</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>Area do Cliente</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="../../Content/ContentClient/areaclienteDefault.css" />
</head>
<body class="pctB">
    <div class="container-fluid">
        <div class="row " id="rowMenuMobile">
            <nav class="navbar navbar-expand-lg navbar-light edcolor">
                <button class="navbar-toggler ml-0 border-0 warning" type="button" id="btnRowMenuMobile">
                    <!--  data-toggle="collapse" data-target="#navbarSupportedContent15" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" -->
                    <span class="glyphicon glyphicon-tasks"></span> <span class="text-white">MyBI</span>
                </button>
            </nav>
        </div>
        <div class="row" style="height: 900px;">

            <div class="col-sm-3 col-md-3 col-lg-2 rpad edcolor" id="navbarSupportedContent15">

                <div class="row mt-6 ml-2" style="width: inherit;" id="divImageUser">
                    <img src="../../Image/pictureUser.png" class="pictureuser">
                </div>

                <div class="row mt-3" style="width: inherit;">
                    <div class="col-sm-12 col-md-12 rpad edcolor">
                        <ul class="list-group list-group-flush strd" style="width: inherit;">
                            <li class="list-group-item border-bottom border-dark rounded">
                                <a href="" class="btn after ml-4">
                                    <span class="glyphicon glyphicon-barcode"></span> Produtos
                                </a>
                            </li>
                            <li class="list-group-item border-bottom border-dark">
                                <a id="click" href="#" class="btn after ml-4">
                                    <span class="glyphicon glyphicon-usd"></span>  Financeiro
                                </a>
                                <ul class="list-group list-group-flush rpad" id="liga">
                                    <li class="list-group-item border-bottom border-dark">
                                        <a href="" class="btn after ml-4">
                                            <span class="glyphicon glyphicon-paperclip"></span> Contas Futuras
                                        </a>
                                    </li>
                                    <li class="list-group-item border-dark">
                                        <a href="" class="btn after ml-4">
                                            <span class="glyphicon glyphicon-copy"></span> Contas Vencidas
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="list-group-item border-bottom border-dark">
                                <a href="" class="btn after ml-4">
                                    <span class="glyphicon glyphicon-flag"></span> Empresas
                                </a>
                            </li>
                            <li class="list-group-item  border-dark">
                                <a href="" class="btn after ml-4">
                                    <span class="glyphicon glyphicon-hand-right"></span>  Renda
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-9 col-md-9 col-lg-10 rpad">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <img src="../../Image/Jumbotron.jpg" class="imgAj">
                    </div>
                </div>
                <div class="row ml-0 mr-0">
                    <div class="col-sm-12 col-md-12 col-lg-12 rpad ">
                        <div class="container mt-4">
                            @* Pages Load *@
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>








    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jQuery-Mask-Plugin-master/dist/jquery.mask.js"></script>
    <script src="~/Scripts/jQuery-Mask-Plugin-master/dist/jquery.mask.min.js"></script>
    <script src="../../Scripts/areaclienteDefault.js"></script>
</body>

</html>
