<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Are do Cliente</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1>Olá. list-group-item list-group-item-action">Dapibus ac facilisis in</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action">Comercial</button>
                    <button type="button" class="list-group-item list-group-item-action">Financeiro</button>
                    <button type="button" class="list-group-item list-group-item-action">Administrativo</button>
                    <button type="button" class="list-group-item list-group-item-action">Logística</button>
                    <button type="button" class="list-group-item list-group-item-action">Contas</button>
                </div>
            </div>
            <div class="col-12 col-md-8">

                @*<div class="ml-5">*@
                @RenderBody()

                @*</div>*@
            </div>
        </div>
    </div>
</body>
</html>
