
@{
    ViewBag.Title = "My BI Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<h2 style="color:yellow">OLÁ RENATA !!!!</h2>

