body {
}

rgb {
    background-color: #563d7c;
}
.list-group-item-action {
    cursor: pointer;
    border: 0px solid rgba(0, 0, 0, 0.125);
}
button[class*="list-group-item-action"] {
    /* property name | duration | timing function | delay */
    transition: font-size 2s;
}
button[class*="list-group-item-action"]:hover{
    font-size:15px;
}

button[class*="navbar-toggler"]:hover{

}

.imgCol {
    width: 180px;
    height: 320px;
    /* property name | duration | timing function | delay */
    transition: width height 60s;
    cursor: pointer;
}